.sidePopup {
  position: relative;
  left: 0;
  top: 0;
  width: 300px;
  height: 50%;
  background-color: #c0cced;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 2;
  border-radius: 5%;
  
  }
  
.open {
  transform: translateX(0);
}
.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #f44336; /* Red color */
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 0.9rem;
}

.closeButton:hover {
  background-color: #d32f2f; /* Darker red on hover */
}
.text{
  position: absolute;
  margin-top: 10%;
}
.title {
  font-size: 1.4rem;
  color: #333;
  margin-bottom: 15px;
}

.content {
  font-size: 0.9rem;
  line-height: 1.6;
  color: #666;
}