@import "@/styles/variables.scss";

.icon {
    padding: 1rem;
}

.main {
    min-width: 600px;
    margin: 0 auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;

    
}

.body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    background-color: $bg-color;
    color:#262626;
    padding: 2rem 10vw;
    // min-width: 600px;

}

