@import "@/styles/variables.scss";

.icon {
    padding: 1rem;
}

.main {
    max-width: 70vw !important;
    min-width: 600px;
    margin: 0 auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;

    
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $bg-color;
    color:#262626;
    padding: 2rem;
    height:92%;
    // min-width: 600px;

}

