@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


.h_form {
  padding: 0;
  margin: 0;
  background: #353535;
  min-height: 100vh;
  display: flex;
  color: rgb(0, 0, 0);
  justify-content: center;
  align-items: center;
}

.h_block {
  display: flex;
  flex-direction: column;
}

.h_selector {
  margin: 10px 0 10px 0px;
  width: 100%;
  height: 45px;
  background-color: #c3c3c3;
}

.h_container {
  background: #e2e2e2;
  font-size: 1.3rem;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
  padding: 40px;
  box-shadow: 0 54px 55px rgb(78 78 78 / 25%), 0 -12px 30px rgb(78 78 78 / 25%),
    0 4px 6px rgb(78 78 78 / 25%), 0 12px 13px rgb(78 78 78 / 25%),
    0 -3px 5px rgb(78 78 78 / 25%);
}

.h_container input {
  font-size: 1.2rem;
  margin: 10px 0 10px 0px;
  border-color: rgb(31, 28, 28);
  padding: 10px;
  border-radius: 5px;
  background-color: #c3c3c3;
}

.h_container textarea {
  margin: 10px 0 10px 0px;
  padding: 5px;
  border-color: rgb(31, 28, 28);
  border-radius: 5px;
  width: 100%;
  background-color: #c3c3c3;
  font-size: 20px;
}

.h_container h1 {
  text-align: center;
  font-weight: 600;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 5px solid gray;
}

.h_block button {
  padding: 10px;
  font-size: 20px;
  width: 100%;
  background-color: #b32e2e;
  color: #e2e2e2;
  border-radius: 5px;
}

tr:nth-child(even) {
  background-color: lightcyan;
}

tr:nth-child(odd) {
  background-color: lightyellow;
}
