@import "@/styles/variables.scss";

.icon {
    padding: 1rem;
}

.navbar {
    border-bottom: 1px solid #3C4043;
    //background-color: #1C9BEF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100% !important;
    nav {
        margin-left: 0.5em;
        div {
            cursor: pointer;
           
        }
    }
}

.selected {
    border-left: 3px solid $base-color;
    pointer-events: none;
}

.button {
    overflow:hidden;
    border-radius: 1em;
    white-space: nowrap;
    border-style: none;
    outline-offset: 0;
    margin:0;
    height:100%;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #e00000;
}
.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $bg-color;
    color:#262626;
    padding: 2rem;
    // min-width: 600px;

}

