$base-color: rgba(38, 38, 38, 0.6);
$base-color-light: rgb(125, 151, 244);
$secondary: #e1493f;
$black: #0f0f0f;
$white: #ffffff;
$gray: #6c6c6c;
$bg-color: #ffffff;
$filter-bg-color: #c7eff4;
$soft-black: #262626;
